<div class="card-trip">
  <%= cl_image_tag @order.product.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2>Hello, <%= @order.user.first_name%></h2>
      <p>You've bought <%=@order.quantity %> - <%= @order.product.name %></p>
      <p>Congratulations on your purchase!</p>
    </div>
    <h2 class="card-trip-pricing">R$ <%=@order.price_transactions %></h2>
  </div>
  <%= link_to 'Back to the products list', root_path, class: "log-back-btn btn mt-4" %>
</div>
