  <div class="container mt-3">
    <div class="form">
      <h1>Update the product</h1>
      <%= simple_form_for [@product] do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :quantity %>
        <%= f.input :category, collection: Product::CATEGORIES %>
        <%=  f.input :photo, as: :file %>

        <%= f.submit %>
      <% end %>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <p class="btn btn-success"><%= link_to 'Back to the product list', product_path(@product) , class: "text-decoration-none"%></p>
    </div>
  </div>
