<h1>Novo produto</h1>

<%= simple_form_for [@product] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :category, collection: Product::CATEGORIES %>
  <%= f.input :photo, as: :file %>

  <%= f.submit %>
<% end %>
<p><%= link_to 'Voltar para os produtos', root_path%></p>
