<div class="container mt-3">
  <div class="text-center">

<h1><%= @product.name%></h1>
  <%  if @product.photo.attached? %>
    <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p>Description: <%= @product.description%></p>
  <h6>Price: <%= @product.price%></h6>
  <p>Quantity: <%= @product.quantity%></p>
  <p>Category: <%= @product.category%></p>

  <% if current_user && current_user == @product.user %>
      <p><%= link_to 'Editar produto', edit_product_path, class: "btn btn-std mt-2"%></p>
      <p ><%= link_to 'Deletar produto', product_path(@product), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' }%></p>
    <% else %>
      <%= simple_form_for [@product, @order] do |f| %>
        <%= f.input :quantity %>
        <%= f.submit "Comprar", class: "btn btn-std" %>
      <% end  %>
    <% end %>
  <p class="btn btn-std mt-2"><%= link_to 'Voltar para os produtos', root_path, class: "text-decoration-none" %></p>
  </div>
</div>
