<div class="container mt-3">
  <div class="text-center">
    <div>
    <h1><%= @product.name%></h1>
    <%# photos index %>
    <%  if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p>Description: <%= @product.description%></p>
    <h6>Price: <%= number_to_currency(@product.price, unit: "R$", separator: ",", delimiter: ".", precision: 2)  %></h6>
    <p>Quantity: <%= @product.quantity%></p>
    <p>Category: <%= @product.category%></p>
    </div>
    <% if current_user && current_user == @product.user %>
      <p><%= link_to 'Update Product Information', edit_product_path, class: 'btn btn-std mt-2 mt-2'%></p>
      <p class="btn btn-danger mt-2"><%= link_to 'Delete Product', product_path(@product), class: "text-decoration-none", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%></p>
    <% else %>
      <%= simple_form_for [@product, @order] do |f| %>
        <%= f.input :quantity, input_html: { min: '1', step: '1' } %>
        <%= f.submit "Buy", class: "btn btn-std" %>
      <% end  %>
    <% end %>
  <p class="btn btn-std mt-2"><%= link_to 'Back to Product List', root_path, class: "text-decoration-none" %></p>
  </div>
</div>
