<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h3><%= @product.name%></h3>
<p><%= @product.description%></p>
<h6><%= @product.price%></h6>
<p><%= @product.quantity%></p>
<p><%= @product.category%></p>
